# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Go module metadata
!go.mod
!go.sum

# debug information files
*.dwo


build
iso-root
enzos.iso

# Generated QEMU artifacts
docs/assets/qemu-vga.png
qemu-vga-dump.raw.txt
qemu-vga-dump.txt
qemu-vnc-client.log
qemu-vnc-server.log
